/*Menu*/

.bg-menu-principal {
    background-color: #18529D;
    color: #ffffff;
    text-align: center;
}

.bg-menu {
    background-color: rgba(0, 153, 50, 0.8);
}

.introduccion {
    position: relative;
    top: 50px;
    font-size: 3vh;
}


/*estilos de login Interno*/

.interno-uv {
    position: relative;
    top: 50px;
}

.borde-uv-login {
    box-shadow: 0 2px 6px #b6b6b6;
    border-width: 0;
    border-radius: 2px;
    width: 100%;
    margin: 0 8px 8px 0;
    padding: 16px 16px 8px 16px !important;
    position: relative;
    top: 25%
}